force-app/main/default/flows/Account_Update_Billing_State.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <decisions>
        <name>States_are_Null</name>
        <label>States are Null</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Get_Zip_ShippingState_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Shipping State is Null</defaultConnectorLabel>
        <rules>
            <name>All_States_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.BillingState</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ShippingState</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Zip_BillingState</targetReference>
            </connector>
            <label>All States Null</label>
        </rules>
        <rules>
            <name>Billing_State_is_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.BillingState</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ShippingState</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Zip</targetReference>
            </connector>
            <label>Billing State is Null</label>
        </rules>
    </decisions>
    <description>Optimized Flow for fast field Updates (before-save). Includes duplicate rule workaround checkbox.</description>
    <environments>Default</environments>
    <formulas>
        <name>leftBillingPostalCode</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Record.BillingPostalCode},5)</expression>
    </formulas>
    <formulas>
        <name>leftShippingPostalCode</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Record.ShippingPostalCode},5)</expression>
    </formulas>
    <interviewLabel>Account - Update Billing State {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Account - Update Billing State</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Zip</name>
        <label>Get Zip</label>
        <locationX>314</locationX>
        <locationY>551</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Account_BillingState</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Zip_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>leftBillingPostalCode</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Zip_Code__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Zip_BillingState</name>
        <label>Get Zip BillingState</label>
        <locationX>50</locationX>
        <locationY>551</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Zip_ShippingState</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Zip_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>leftBillingPostalCode</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Zip_Code__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Zip_ShippingState</name>
        <label>Get Zip ShippingState</label>
        <locationX>50</locationX>
        <locationY>671</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Account_States</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Zip_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>leftShippingPostalCode</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Zip_Code__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Zip_ShippingState_0</name>
        <label>Get Zip ShippingState</label>
        <locationX>578</locationX>
        <locationY>551</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Account_ShippingState</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Zip_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>leftShippingPostalCode</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Zip_Code__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Bypass_Duplicate_Rule</name>
        <label>Bypass Duplicate Rule</label>
        <locationX>314</locationX>
        <locationY>311</locationY>
        <connector>
            <targetReference>States_are_Null</targetReference>
        </connector>
        <inputAssignments>
            <field>Bypass_Duplicate_Rules__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Account_BillingState</name>
        <label>Update Account BillingState</label>
        <locationX>314</locationX>
        <locationY>671</locationY>
        <inputAssignments>
            <field>BillingCountry</field>
            <value>
                <stringValue>United States of America</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingState</field>
            <value>
                <elementReference>Get_Zip.State__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Account_ShippingState</name>
        <label>Update Account ShippingState</label>
        <locationX>578</locationX>
        <locationY>671</locationY>
        <inputAssignments>
            <field>ShippingCountry</field>
            <value>
                <stringValue>United States of America</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingState</field>
            <value>
                <elementReference>Get_Zip_ShippingState_0.State__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Account_States</name>
        <label>Update Account States</label>
        <locationX>50</locationX>
        <locationY>791</locationY>
        <inputAssignments>
            <field>BillingCountry</field>
            <value>
                <stringValue>United States of America</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingState</field>
            <value>
                <elementReference>Get_Zip_BillingState.State__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingCountry</field>
            <value>
                <stringValue>United States of America</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingState</field>
            <value>
                <elementReference>Get_Zip_ShippingState.State__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Bypass_Duplicate_Rule</targetReference>
        </connector>
        <filterLogic>(1 AND 2 AND 5) OR (3 AND 4 AND 6)</filterLogic>
        <filters>
            <field>BillingState</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>BillingPostalCode</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>ShippingState</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>ShippingPostalCode</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>BillingCountry</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>United States of America</stringValue>
            </value>
        </filters>
        <filters>
            <field>ShippingCountry</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>United States of America</stringValue>
            </value>
        </filters>
        <object>Account</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
