force-app/main/default/flows/Campaign_Member_Status.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <decisions>
        <name>Campaign_Type</name>
        <label>Campaign Type</label>
        <locationX>466</locationX>
        <locationY>215</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Campaign_Type_Event_Attendees</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Event</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>To_Invite_Status</targetReference>
            </connector>
            <label>Campaign Type = Event Attendees</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Campaign Member Status {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Campaign Member Status</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Invited_Status</name>
        <label>Invited Status</label>
        <locationX>931</locationX>
        <locationY>225</locationY>
        <connector>
            <targetReference>Registered_Status</targetReference>
        </connector>
        <inputAssignments>
            <field>CampaignId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HasResponded</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsDefault</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Label</field>
            <value>
                <stringValue>Invited</stringValue>
            </value>
        </inputAssignments>
        <object>CampaignMemberStatus</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Registered_Status</name>
        <label>Registered Status</label>
        <locationX>1158</locationX>
        <locationY>219</locationY>
        <connector>
            <targetReference>Update_Attendee_X_Status_Fields</targetReference>
        </connector>
        <inputAssignments>
            <field>CampaignId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HasResponded</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsDefault</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Label</field>
            <value>
                <stringValue>Registered</stringValue>
            </value>
        </inputAssignments>
        <object>CampaignMemberStatus</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>To_Invite_Status</name>
        <label>To Invite Status</label>
        <locationX>708</locationX>
        <locationY>208</locationY>
        <connector>
            <targetReference>Invited_Status</targetReference>
        </connector>
        <inputAssignments>
            <field>CampaignId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HasResponded</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsDefault</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Label</field>
            <value>
                <stringValue>To Invite</stringValue>
            </value>
        </inputAssignments>
        <object>CampaignMemberStatus</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordDeletes>
        <name>Delete_Responded</name>
        <label>Delete Responded</label>
        <locationX>1726</locationX>
        <locationY>50</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CampaignId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Label</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Sent</stringValue>
            </value>
        </filters>
        <filters>
            <field>Label</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Responded</stringValue>
            </value>
        </filters>
        <object>CampaignMemberStatus</object>
    </recordDeletes>
    <recordUpdates>
        <name>Update_Attendee_X_Status_Fields</name>
        <label>Update Attendee &quot;X&quot; Status Fields</label>
        <locationX>1372</locationX>
        <locationY>237</locationY>
        <inputAssignments>
            <field>conference360__Attendee_Invited_Status__c</field>
            <value>
                <stringValue>Invited</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>conference360__Attendee_Registered_Status__c</field>
            <value>
                <stringValue>Registered</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>conference360__Attendee_To_Invite_Status__c</field>
            <value>
                <stringValue>To Invite</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>41</locationX>
        <locationY>133</locationY>
        <connector>
            <targetReference>Campaign_Type</targetReference>
        </connector>
        <object>Campaign</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
