force-app/main/default/flows/Case_Category_Automation_8fkiw9.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Case_Notification_to_case_owner</name>
        <label>Send Case Notification to case owner</label>
        <locationX>1106</locationX>
        <locationY>839</locationY>
        <actionName>Case.New_Case_Assignment</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.New_Case_Assignment</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Send_Media_Requests_Email</name>
        <label>Send Media Requests Email</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <actionName>Case.Media_Requests_Notification</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.Media_Requests_Notification</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <decisions>
        <name>Check_Category</name>
        <label>Check Category</label>
        <locationX>1106</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Media_Requests</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Subject__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>media_requests</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Update_CaseOwner</targetReference>
            </connector>
            <label>Media Requests</label>
        </rules>
        <rules>
            <name>Membership</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Subject__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Membership</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_Update_CaseOwner</targetReference>
            </connector>
            <label>Membership</label>
        </rules>
        <rules>
            <name>Partnerships_Corporate_Relations</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Subject__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Partnerships/Corporate Relations</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_3_of_Update_CaseOwner</targetReference>
            </connector>
            <label>Partnerships/Corporate Relations</label>
        </rules>
        <rules>
            <name>Events_and_Fundraising</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Subject__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Events and Fundraising</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_CaseOwner_to_Shara</targetReference>
            </connector>
            <label>Events and Fundraising</label>
        </rules>
        <rules>
            <name>POW_International</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Subject__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>POW International</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_5_of_Update_CaseOwner</targetReference>
            </connector>
            <label>POW International</label>
        </rules>
        <rules>
            <name>Other</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Subject__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Other</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_6_of_Update_CaseOwner</targetReference>
            </connector>
            <label>Other</label>
        </rules>
        <rules>
            <name>Donor_Relations</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Subject__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Donor Relations</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_7_of_Update_CaseOwner</targetReference>
            </connector>
            <label>Donor Relations</label>
        </rules>
        <rules>
            <name>Merchandise</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Subject__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Merchandise</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_8_of_Update_CaseOwner</targetReference>
            </connector>
            <label>Merchandise</label>
        </rules>
    </decisions>
    <description>After-save record-triggered flow to assign Case.OwnerId and send an email alert to the new owner based on Case.Subject__c (Category).</description>
    <environments>Default</environments>
    <formulas>
        <description>Maps Case.Subject__c values to the correct UserId for OwnerId.</description>
        <name>Formula_GetOwnerId</name>
        <dataType>String</dataType>
        <expression>CASE(TEXT($Record.Subject__c), &quot;media_requests&quot;, &quot;0054P00000Ee89c&quot;, &quot;Membership&quot;, &quot;005Rn000001bTth&quot;, &quot;Partnerships/Corporate Relations&quot;, &quot;0054P00000EftnM&quot;, &quot;Events and Fundraising&quot;, &quot;0054P00000AM0By&quot;, &quot;POW International&quot;, &quot;005Rn000000vOte&quot;, &quot;Other&quot;, &quot;0054P00000EftnM&quot;, &quot;Donor Relations&quot;, &quot;0054P00000EftnM&quot;, &quot;Merchandise&quot;, &quot;0054P00000AM0By&quot;, &quot;Volunteering&quot;, &quot;0054P00000AKolK&quot;, &quot;&quot;)</expression>
    </formulas>
    <interviewLabel>Case Assign &amp; Notify by Category {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case Assign &amp; Notify by Category</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Copy_1_of_Update_CaseOwner</name>
        <label>Update_CaseOwner to Stacie Sullivan</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Send_Media_Requests_Email</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>0054P00000EO9wUQAT</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_2_of_Update_CaseOwner</name>
        <label>Update_CaseOwner to Ryan Laemel</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Send_Case_Notification_to_case_owner</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>005Rn000001bTth</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_3_of_Update_CaseOwner</name>
        <label>Update_CaseOwner to Mel Briggs</label>
        <locationX>578</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Send_Case_Notification_to_case_owner</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>0054P00000EftnM</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_5_of_Update_CaseOwner</name>
        <label>Update_CaseOwner to Hannah Breslin</label>
        <locationX>1106</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Send_Case_Notification_to_case_owner</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>005Rn000000vOte</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_6_of_Update_CaseOwner</name>
        <label>Update_CaseOwner to Mel Briggs</label>
        <locationX>1370</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Send_Case_Notification_to_case_owner</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>0054P00000EftnM</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_7_of_Update_CaseOwner</name>
        <label>Update_CaseOwner to Mel Briggs</label>
        <locationX>1634</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Send_Case_Notification_to_case_owner</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>0054P00000EftnM</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_8_of_Update_CaseOwner</name>
        <label>Update_CaseOwner to Maddy Peavy</label>
        <locationX>1898</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Send_Case_Notification_to_case_owner</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>0054P00000AM0By</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_CaseOwner_to_Shara</name>
        <label>Update_CaseOwner to Shara</label>
        <locationX>842</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Send_Case_Notification_to_case_owner</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>005Rn000006cHNlIAM</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>980</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Category</targetReference>
        </connector>
        <filterLogic>1 OR 2 OR 3 OR 4 OR 5 OR 6 OR 7 OR 8</filterLogic>
        <filters>
            <field>Subject__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>media_requests</stringValue>
            </value>
        </filters>
        <filters>
            <field>Subject__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Membership</stringValue>
            </value>
        </filters>
        <filters>
            <field>Subject__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Partnerships/Corporate Relations</stringValue>
            </value>
        </filters>
        <filters>
            <field>Subject__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Events and Fundraising</stringValue>
            </value>
        </filters>
        <filters>
            <field>Subject__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>POW International</stringValue>
            </value>
        </filters>
        <filters>
            <field>Subject__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Other</stringValue>
            </value>
        </filters>
        <filters>
            <field>Subject__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Merchandise</stringValue>
            </value>
        </filters>
        <filters>
            <field>Subject__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Donor Relations</stringValue>
            </value>
        </filters>
        <object>Case</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
