force-app/main/default/flows/Contact_Update_State_from_Zip_Code.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <decisions>
        <name>States_are_Null</name>
        <label>States are Null</label>
        <locationX>314</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Get_Zip_Other_State</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Other State is Null</defaultConnectorLabel>
        <rules>
            <name>All_States_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.MailingState</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.OtherState</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Zip_MailingState</targetReference>
            </connector>
            <label>All States Null</label>
        </rules>
        <rules>
            <name>Mailing_State_is_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.MailingState</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.OtherState</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Zip_Mailing_State</targetReference>
            </connector>
            <label>Mailing State is Null</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>leftMailingPostalCode</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Record.MailingPostalCode},5)</expression>
    </formulas>
    <formulas>
        <name>leftOtherPostalCode</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Record.OtherPostalCode},5)</expression>
    </formulas>
    <interviewLabel>Contact - Update State from Zip Code {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Contact - Update State from Zip Code</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Zip_Mailing_State</name>
        <label>Get Zip Mailing State</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Contact_Mailing_State</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Zip_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>leftMailingPostalCode</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Zip_Code__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Zip_MailingState</name>
        <label>Get Zip MailingState</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Zip_OtherState</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Zip_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>leftMailingPostalCode</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Zip_Code__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Zip_Other_State</name>
        <label>Get Zip Other State</label>
        <locationX>578</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Other_State</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Zip_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>leftOtherPostalCode</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Zip_Code__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Zip_OtherState</name>
        <label>Get Zip OtherState</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Contact_States</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Zip_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>leftOtherPostalCode</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Zip_Code__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Contact_Mailing_State</name>
        <label>Update Contact Mailing State</label>
        <locationX>314</locationX>
        <locationY>539</locationY>
        <inputAssignments>
            <field>MailingCountry</field>
            <value>
                <stringValue>United States of America</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MailingState</field>
            <value>
                <elementReference>Get_Zip_Mailing_State.State__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Contact_States</name>
        <label>Update Contact States</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <inputAssignments>
            <field>MailingCountry</field>
            <value>
                <stringValue>United States of America</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MailingState</field>
            <value>
                <elementReference>Get_Zip_MailingState.State__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OtherCountry</field>
            <value>
                <stringValue>United States of America</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OtherState</field>
            <value>
                <elementReference>Get_Zip_OtherState.State__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Other_State</name>
        <label>Update Other State</label>
        <locationX>578</locationX>
        <locationY>539</locationY>
        <inputAssignments>
            <field>OtherCountry</field>
            <value>
                <stringValue>United States of America</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OtherState</field>
            <value>
                <elementReference>Get_Zip_Other_State.State__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>States_are_Null</targetReference>
        </connector>
        <filterLogic>(1 AND 2 AND 5) OR (3 AND 4 AND 6)</filterLogic>
        <filters>
            <field>MailingState</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>MailingPostalCode</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>OtherState</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>OtherPostalCode</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>MailingCountry</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>United States of America</stringValue>
            </value>
        </filters>
        <filters>
            <field>OtherCountry</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>United States of America</stringValue>
            </value>
        </filters>
        <object>Contact</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
