force-app/main/default/flows/Contact_Stages_v2.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <decisions>
        <name>Contact_Stage</name>
        <label>Contact Stage</label>
        <locationX>314</locationX>
        <locationY>252</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Current_Last_gift_within_18_months_years</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.npo02__LastCloseDate__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>TodayMinus18Months</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.npo02__LastMembershipDate__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>TodayMinus18Months</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.npsp__Last_Soft_Credit_Date__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>TodayMinus18Months</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Stage_Current</targetReference>
            </connector>
            <label>Current - Last gift within 18 months years</label>
        </rules>
        <rules>
            <name>Lapsed_Last_gift_outside_of_18_months</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.npo02__LastCloseDate__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>TodayMinus18Months</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.npo02__LastMembershipDate__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>TodayMinus18Months</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.npsp__Last_Soft_Credit_Date__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>TodayMinus18Months</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Stage_Lapsed</targetReference>
            </connector>
            <label>Lapsed - Last gift outside of 18 months</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <description>Today&apos;s date minus 18 months or 548 days</description>
        <name>TodayMinus18Months</name>
        <dataType>Date</dataType>
        <expression>TODAY() - 548</expression>
    </formulas>
    <interviewLabel>Contact Stages - v2 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Contact Stages - v2</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Stage_Current</name>
        <label>Stage = Current</label>
        <locationX>50</locationX>
        <locationY>360</locationY>
        <inputAssignments>
            <field>Stage__c</field>
            <value>
                <stringValue>Current</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Stage_Lapsed</name>
        <label>Stage = Lapsed</label>
        <locationX>314</locationX>
        <locationY>360</locationY>
        <inputAssignments>
            <field>Donor_Level__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Stage__c</field>
            <value>
                <stringValue>Lapsed</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Contact_Stage</targetReference>
        </connector>
        <filterLogic>(1 OR 2 OR 5) AND (3 OR 4)</filterLogic>
        <filters>
            <field>npo02__TotalOppAmount__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>npo02__TotalMembershipOppAmount__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>Stage__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Lost</stringValue>
            </value>
        </filters>
        <filters>
            <field>Stage__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Disqualified</stringValue>
            </value>
        </filters>
        <filters>
            <field>npo02__Soft_Credit_Total__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </filters>
        <object>Contact</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2023-02-21</startDate>
            <startTime>07:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
</Flow>
