force-app/main/default/flows/Create_Job_and_Shift_from_Campaign.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <interviewLabel>Create Job and Shift from Campaign {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Job and Shift from Campaign</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Job</name>
        <label>Create Job</label>
        <locationX>315</locationX>
        <locationY>436</locationY>
        <inputAssignments>
            <field>GW_Volunteers__Campaign__c</field>
            <value>
                <elementReference>campaignid.Campaign_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>GW_Volunteers__Description__c</field>
            <value>
                <elementReference>Job_description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>GW_Volunteers__Volunteer_Website_Time_Zone__c</field>
            <value>
                <elementReference>campaignid.GW_Volunteers__Volunteer_Website_Time_Zone__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>campaignid.Name</elementReference>
            </value>
        </inputAssignments>
        <object>GW_Volunteers__Volunteer_Job__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Campaign_Record</name>
        <label>Get Campaign Record</label>
        <locationX>268</locationX>
        <locationY>318</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Job</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>campaignid.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Campaign</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>StartDate</queriedFields>
        <queriedFields>EndDate</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>GW_Volunteers__Volunteer_Website_Time_Zone__c</queriedFields>
        <queriedFields>stayclassy__Timezone_Identifier__c</queriedFields>
        <queriedFields>Campaign_ID__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Job_Information</name>
        <label>Job Information</label>
        <locationX>114</locationX>
        <locationY>104</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Campaign_Record</targetReference>
        </connector>
        <fields>
            <name>Job_description</name>
            <dataType>String</dataType>
            <fieldText>Job description</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Total_Volunteers_Neede</name>
            <dataType>Number</dataType>
            <fieldText>Total Volunteers Neede</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Job_Information</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>campaignid</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Campaign</objectType>
    </variables>
    <variables>
        <name>VolunteerJob</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>GW_Volunteers__Volunteer_Job__c</objectType>
    </variables>
</Flow>
