force-app/main/default/flows/Data_Retention_Policy_Campaign_Delete.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <decisions>
        <name>Created_Date</name>
        <label>Created Date</label>
        <locationX>182</locationX>
        <locationY>252</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Created_Date_365_Days_Ago2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CreatedDate</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>created_date_365_days_ago</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Campaigns</targetReference>
            </connector>
            <label>Created Date &lt; 365 Days Ago</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>created_date_365_days_ago</name>
        <dataType>DateTime</dataType>
        <expression>NOW() - 365</expression>
    </formulas>
    <interviewLabel>Created Date {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Data Retention Policy - Campaign Delete</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordDeletes>
        <name>Delete_Campaigns</name>
        <label>Delete Campaigns</label>
        <locationX>50</locationX>
        <locationY>360</locationY>
        <inputReference>$Record</inputReference>
    </recordDeletes>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Created_Date</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>HierarchyNumberOfContacts</field>
            <operator>EqualTo</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>NumberOfContacts</field>
            <operator>EqualTo</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>P2A__Synced__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>stayclassy__Classy_Organization_ID__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>conference360__Event__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Campaign</object>
        <schedule>
            <frequency>Weekly</frequency>
            <startDate>2025-01-31</startDate>
            <startTime>08:45:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Draft</status>
</Flow>
