force-app/main/default/flows/Delete_Mailchimp_Events_from_30_Days_Ago.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <decisions>
        <name>X30_Days_Ago</name>
        <label>30 Days Ago</label>
        <locationX>182</locationX>
        <locationY>360</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>X30_Days_Ago2</name>
            <conditionLogic>1 AND (3 OR 2)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CreatedDate</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>today_minus_30</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Related_Contact.RecordType.Name</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Alliance Member</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Related_Contact</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Mailchimp_Event</targetReference>
            </connector>
            <label>30 Days Ago</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>today_minus_30</name>
        <dataType>Date</dataType>
        <expression>TODAY() - 30</expression>
    </formulas>
    <interviewLabel>Delete Mailchimp Events from 30 Days Ago {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Delete Mailchimp Events from 30 Days Ago</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordDeletes>
        <name>Delete_Mailchimp_Event</name>
        <label>Delete Mailchimp Event</label>
        <locationX>50</locationX>
        <locationY>468</locationY>
        <inputReference>$Record</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Get_Related_Contact</name>
        <label>Get Related Contact</label>
        <locationX>182</locationX>
        <locationY>252</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>X30_Days_Ago</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhoId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>RecordTypeId</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Related_Contact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CazoomiId__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <object>Task</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2023-08-02</startDate>
            <startTime>05:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Obsolete</status>
</Flow>
