force-app/main/default/flows/Donor_Level_Tasks_30_and_90_Days.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <decisions>
        <name>Number_of_Days</name>
        <label>Number of Days</label>
        <locationX>314</locationX>
        <locationY>252</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>X90_Days</name>
            <conditionLogic>(1 AND 4) AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CreatedDate</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>Todayminus90</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.npe01__One2OneContact__r.Donor_Level__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Enthusiast</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.npe01__One2OneContact__r.Donor_Level__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Black Champion</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CreatedDate</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>Todayplus100</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Donor_Level_Tasks_90_Days</targetReference>
            </connector>
            <label>90 Days</label>
        </rules>
        <rules>
            <name>X30_Days</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CreatedDate</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>Todayminus30</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CreatedDate</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>Todayminus36</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.npe01__One2OneContact__r.Donor_Level__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Double Black Titan</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Donor_Level_Tasks_90_Days</targetReference>
            </connector>
            <label>30 Days</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>Todayminus30</name>
        <dataType>Date</dataType>
        <expression>TODAY() - 30</expression>
    </formulas>
    <formulas>
        <name>Todayminus36</name>
        <dataType>Date</dataType>
        <expression>TODAY() - 36</expression>
    </formulas>
    <formulas>
        <name>Todayminus90</name>
        <dataType>Date</dataType>
        <expression>TODAY() - 90</expression>
    </formulas>
    <formulas>
        <name>Todayplus100</name>
        <dataType>Date</dataType>
        <expression>TODAY() - 100</expression>
    </formulas>
    <formulas>
        <name>Todayplus7</name>
        <dataType>Date</dataType>
        <expression>TODAY() + 7</expression>
    </formulas>
    <interviewLabel>Donor Level Tasks - 30 and 90 Days {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Donor Level Tasks - 30 and 90 Days</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Copy_1_of_Donor_Level_Tasks_90_Days</name>
        <label>Copy 1 of Donor Level Tasks - 30 Days</label>
        <locationX>314</locationX>
        <locationY>360</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>Todayplus7</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>Donor outreach. ALERT: Current Contact Owner is Inactive. Please Reassign Contact Owner.</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>0054P00000DI6iaQAD</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Donor Level Task</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>$Record.Account.npe01__One2OneContact__r.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Donor_Level_Tasks_90_Days</name>
        <label>Donor Level Tasks - 90 Days</label>
        <locationX>50</locationX>
        <locationY>360</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>Todayplus7</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>Donor outreach. ALERT: Current Contact Owner is Inactive. Please Reassign Contact Owner.</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>0054P00000DI6iaQAD</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Donor Level Task</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>$Record.Account.npe01__One2OneContact__r.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Number_of_Days</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Subject</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Donor Level Task</stringValue>
            </value>
        </filters>
        <object>Task</object>
        <schedule>
            <dayOfMonthToRun>0</dayOfMonthToRun>
            <frequency>Weekly</frequency>
            <frequencyNumber>0</frequencyNumber>
            <startDate>2023-06-01</startDate>
            <startTime>07:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Obsolete</status>
</Flow>
