force-app/main/default/flows/Event_Main_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <decisions>
        <name>Decision_1</name>
        <label>Decision 1</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Update_Event_Campaign</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Outcome_1_of_Decision_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.conference360__Campaign__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Update_Campaign</targetReference>
            </connector>
            <label>Outcome 1 of Decision 1</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Event Main Flwo {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Event Main Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Update_Campaign</name>
        <label>Create Campaign</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.conference360__Campaign__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Attended__c</field>
            <value>
                <elementReference>$Record.conference360__Attended__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Department__c</field>
            <value>
                <elementReference>$Record.Department__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EndDate</field>
            <value>
                <elementReference>$Record.conference360__Event_End_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Event_Audience__c</field>
            <value>
                <elementReference>$Record.Audience__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Event_Components__c</field>
            <value>
                <elementReference>$Record.Event_Components__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Host__c</field>
            <value>
                <elementReference>$Record.conference360__Category__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>$Record.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>0124P000000hQ0gQAE</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Registered__c</field>
            <value>
                <elementReference>$Record.conference360__Registered__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartDate</field>
            <value>
                <elementReference>$Record.conference360__Event_Start_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Event</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type_of_Event__c</field>
            <value>
                <elementReference>$Record.RecordType.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Venue_City__c</field>
            <value>
                <elementReference>$Record.conference360__Venue_City__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Venue_Country__c</field>
            <value>
                <elementReference>$Record.conference360__Venue_Country__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Venue_Postal_Code__c</field>
            <value>
                <elementReference>$Record.conference360__Venue_Postal_Code__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Venue_State_Province__c</field>
            <value>
                <elementReference>$Record.conference360__Venue_State_Province__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Venue_Street__c</field>
            <value>
                <elementReference>$Record.conference360__Venue_Street__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>conference360__Attendee_Invited_Status__c</field>
            <value>
                <stringValue>Invited</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>conference360__Attendee_Registered_Status__c</field>
            <value>
                <stringValue>Registered</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>conference360__Attendee_To_Invite_Status__c</field>
            <value>
                <stringValue>To Invite</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>conference360__Event_Auto_Sync__c</field>
            <value>
                <stringValue>Yes</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>conference360__Event__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>of_CTA_s_Taken__c</field>
            <value>
                <elementReference>$Record.CTA_s_Taken__c</elementReference>
            </value>
        </inputAssignments>
        <object>Campaign</object>
        <operationMultMatchingRecords>UpdateLatestRecord</operationMultMatchingRecords>
        <operationOneMatchingRecord>UpdateAllRecords</operationOneMatchingRecord>
        <operationZeroMatchingRecords>AddRecord</operationZeroMatchingRecords>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordUpdates>
        <name>Update_Event_Campaign</name>
        <label>Update Event Campaign</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <inputAssignments>
            <field>Attended__c</field>
            <value>
                <elementReference>$Record.conference360__Attended__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Department__c</field>
            <value>
                <elementReference>$Record.Department__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EndDate</field>
            <value>
                <elementReference>$Record.conference360__Event_End_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Event_Audience__c</field>
            <value>
                <elementReference>$Record.Audience__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Event_Components__c</field>
            <value>
                <elementReference>$Record.Event_Components__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Host__c</field>
            <value>
                <elementReference>$Record.conference360__Category__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>$Record.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>0124P000000hQ0gQAE</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Registered__c</field>
            <value>
                <elementReference>$Record.conference360__Registered__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartDate</field>
            <value>
                <elementReference>$Record.conference360__Event_Start_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Event</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type_of_Event__c</field>
            <value>
                <elementReference>$Record.RecordType.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Venue_City__c</field>
            <value>
                <elementReference>$Record.conference360__Venue_City__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Venue_Country__c</field>
            <value>
                <elementReference>$Record.conference360__Venue_Country__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Venue_Postal_Code__c</field>
            <value>
                <elementReference>$Record.conference360__Venue_Postal_Code__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Venue_State_Province__c</field>
            <value>
                <elementReference>$Record.conference360__Venue_State_Province__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Venue_Street__c</field>
            <value>
                <elementReference>$Record.conference360__Venue_Street__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>conference360__Attendee_Invited_Status__c</field>
            <value>
                <stringValue>Invited</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>conference360__Attendee_Registered_Status__c</field>
            <value>
                <stringValue>Registered</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>conference360__Attendee_To_Invite_Status__c</field>
            <value>
                <stringValue>To Invite</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>conference360__Event_Auto_Sync__c</field>
            <value>
                <stringValue>Yes</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>conference360__Event__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>of_CTA_s_Taken__c</field>
            <value>
                <elementReference>$Record.CTA_s_Taken__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record.conference360__Campaign__r</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Decision_1</targetReference>
        </connector>
        <object>conference360__Event__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
