force-app/main/default/flows/Event_CTA_Main_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <assignments>
        <name>Add_Contact_ID_s_to_Event_Contact_Id_s</name>
        <label>Add Contact ID&apos;s to Event_Contact_Id&apos;s</label>
        <locationX>396</locationX>
        <locationY>1092</locationY>
        <assignmentItems>
            <assignToReference>event_Contact_Id</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Through_Event_Attendees.conference360__Contact__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Contact_in_Both</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_ContactId_to_CTA_Contact_IDs</name>
        <label>Add ContactId to CTA_Contact_IDs</label>
        <locationX>264</locationX>
        <locationY>684</locationY>
        <assignmentItems>
            <assignToReference>CTA_Contact_IDs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Through_CTA_Campaign_Members.ContactId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Append_to_CTAContactIdString</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_CTA_Count_to_Total</name>
        <label>Add CTA Count to Total</label>
        <locationX>264</locationX>
        <locationY>1908</locationY>
        <assignmentItems>
            <assignToReference>TotalCTAForEvent</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Through_Related_CTAs.of_CTA_s_Taken__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Related_CTAs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Append_to_CTAContactIdString</name>
        <label>Append to CTAContactIdString</label>
        <locationX>264</locationX>
        <locationY>792</locationY>
        <assignmentItems>
            <assignToReference>CTAContactIdString</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>AppendtoCTAContactIdString</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_CTA_Campaign_Members</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>MatchedCount</name>
        <label>MatchedCount</label>
        <locationX>264</locationX>
        <locationY>1308</locationY>
        <assignmentItems>
            <assignToReference>CTA_Count</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Event_Attendees</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Is_Contact_in_Both</name>
        <label>Is Contact in Both?</label>
        <locationX>396</locationX>
        <locationY>1200</locationY>
        <defaultConnector>
            <targetReference>Loop_Through_Event_Attendees</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Contact_is_in_both</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>is_ctacontact_in_eventcontact</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>MatchedCount</targetReference>
            </connector>
            <label>Contact is in both</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>AppendtoCTAContactIdString</name>
        <dataType>String</dataType>
        <expression>&quot;;&quot; + {!Loop_Through_CTA_Campaign_Members.ContactId}</expression>
    </formulas>
    <formulas>
        <name>event_end_date_plus_7</name>
        <dataType>Date</dataType>
        <expression>{!$Record.Event__r.conference360__Event_End_Date__c} + 7</expression>
    </formulas>
    <formulas>
        <name>is_ctacontact_in_eventcontact</name>
        <dataType>Boolean</dataType>
        <expression>CONTAINS({!CTAContactIdString}, &quot;;&quot; + {!Loop_Through_Event_Attendees.conference360__Contact__c})</expression>
    </formulas>
    <interviewLabel>Event CTA Main Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Event CTA Main Flow</label>
    <loops>
        <name>Loop_Through_CTA_Campaign_Members</name>
        <label>Loop Through CTA Campaign Members</label>
        <locationX>176</locationX>
        <locationY>576</locationY>
        <collectionReference>Copy_2_of_Get_CTA_Contacts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_ContactId_to_CTA_Contact_IDs</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_Through_Event_Attendees</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Through_Event_Attendees</name>
        <label>Loop Through Event Attendees</label>
        <locationX>176</locationX>
        <locationY>984</locationY>
        <collectionReference>Get_Event_Attendees</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_Contact_ID_s_to_Event_Contact_Id_s</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_CTA_Count</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Through_Related_CTAs</name>
        <label>Loop Through Related CTAs</label>
        <locationX>176</locationX>
        <locationY>1800</locationY>
        <collectionReference>Get_All_CTA_Records_for_This_Event</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_CTA_Count_to_Total</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Event_CTA_Total</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Copy_2_of_Get_CTA_Contacts</name>
        <label>Get CTA Contacts</label>
        <locationX>176</locationX>
        <locationY>360</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Event_Attendees</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CampaignId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Related_CTA_Campaign__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>CreatedDate</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>$Record.Event__r.conference360__Event_End_Date__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>CreatedDate</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>event_end_date_plus_7</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>CampaignMember</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>ContactId</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>CTA_Campaign_Members</name>
        <label>CTA Campaign Members</label>
        <locationX>176</locationX>
        <locationY>252</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_2_of_Get_CTA_Contacts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Related_CTA_Campaign__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Campaign</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_All_CTA_Records_for_This_Event</name>
        <label>Get All CTA Records for This Event</label>
        <locationX>176</locationX>
        <locationY>1692</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Through_Related_CTAs</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Event__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Event__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Call_to_Action__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Event_Attendees</name>
        <label>Get Event Attendees</label>
        <locationX>176</locationX>
        <locationY>468</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Through_CTA_Campaign_Members</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>conference360__Event__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Event__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>conference360__Attendance_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Attended</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>conference360__Attendee__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>conference360__Contact__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_CTA_Count</name>
        <label>Update CTA Count</label>
        <locationX>176</locationX>
        <locationY>1584</locationY>
        <connector>
            <targetReference>Get_All_CTA_Records_for_This_Event</targetReference>
        </connector>
        <inputAssignments>
            <field>of_CTA_s_Taken__c</field>
            <value>
                <elementReference>CTA_Count</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Event_CTA_Total</name>
        <label>Update Event CTA Total</label>
        <locationX>176</locationX>
        <locationY>2100</locationY>
        <inputAssignments>
            <field>of_CTA_s_Taken__c</field>
            <value>
                <elementReference>TotalCTAForEvent</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>CTA_Campaign_Members</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Event__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Related_CTA_Campaign__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Call_to_Action__c</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2025-04-21</startDate>
            <startTime>09:30:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>CTA_Contact_IDs</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CTA_Count</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>CTAContactIdString</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>event_Contact_Id</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TotalCTAForEvent</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
