force-app/main/default/flows/Generate_Membership_Order_from_Opportunity.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <decisions>
        <name>Evaluate_Opportunity_Amount</name>
        <label>Evaluate Opportunity Amount</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Create_Membership_Kit_Order</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Greater_Equal_50</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Opportunity.Amount</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>50.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Opportunity.npsp__Primary_Contact__r.T_Shirt_Size__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Membership_Tee_Shirt_Product</targetReference>
            </connector>
            <label>Greater Equal 50</label>
        </rules>
    </decisions>
    <decisions>
        <name>Evaluate_Opportunity_Amount_2</name>
        <label>Evaluate Opportunity Amount 2</label>
        <locationX>182</locationX>
        <locationY>974</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Greater_or_Equal_50</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Opportunity.Amount</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>50.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Opportunity.npsp__Primary_Contact__r.T_Shirt_Size__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Tee_Shirt_Line_Item</targetReference>
            </connector>
            <label>Greater or Equal 50</label>
        </rules>
    </decisions>
    <description>Modified OrderStatus formula field</description>
    <environments>Default</environments>
    <formulas>
        <name>Description</name>
        <dataType>String</dataType>
        <expression>IF(
   AND(
      NOT(ISBLANK({!Opportunity.npsp__Primary_Contact__r.MailingStreet})),
      NOT(ISBLANK({!Opportunity.npsp__Primary_Contact__r.MailingCity})),
      NOT(ISBLANK({!Opportunity.npsp__Primary_Contact__r.MailingState})),
      NOT(ISBLANK({!Opportunity.npsp__Primary_Contact__r.MailingPostalCode})),
      NOT(ISBLANK(TEXT({!Opportunity.npsp__Primary_Contact__r.T_Shirt_Size__c})))
   ),
   &quot;&quot;,
   &quot;This order has either an incomplete mailing address or t-shirt size.&quot;
)</expression>
    </formulas>
    <formulas>
        <name>OrderStatus</name>
        <dataType>String</dataType>
        <expression>IF(
    OR(
        AND(
            {!Opportunity.Amount} &lt; 50,
            NOT(ISBLANK({!Opportunity.npsp__Primary_Contact__r.MailingStreet})),
            NOT(ISBLANK({!Opportunity.npsp__Primary_Contact__r.MailingCity})),
            NOT(ISBLANK({!Opportunity.npsp__Primary_Contact__r.MailingState})),
            NOT(ISBLANK({!Opportunity.npsp__Primary_Contact__r.MailingPostalCode}))
        ),
        AND(
            {!Opportunity.Amount} &gt;= 50,
            NOT(ISBLANK({!Opportunity.npsp__Primary_Contact__r.MailingStreet})),
            NOT(ISBLANK({!Opportunity.npsp__Primary_Contact__r.MailingCity})),
            NOT(ISBLANK({!Opportunity.npsp__Primary_Contact__r.MailingState})),
            NOT(ISBLANK({!Opportunity.npsp__Primary_Contact__r.MailingPostalCode})),
            NOT(ISBLANK(TEXT({!Opportunity.npsp__Primary_Contact__r.T_Shirt_Size__c})))
            )
    ),
    &quot;Accepted&quot;,
    &quot;Submitted&quot;
)</expression>
    </formulas>
    <formulas>
        <name>TeeShirtSize</name>
        <dataType>String</dataType>
        <expression>CASE(
{!Opportunity.npsp__Primary_Contact__r.T_Shirt_Size__c}, 
&quot;940&quot;, &quot;940&quot;, 
&quot;941&quot;, &quot;941&quot;,
&quot;942&quot;, &quot;942&quot;,
&quot;943&quot;, &quot;943&quot;,
&quot;944&quot;, &quot;944&quot;,
&quot;945&quot;, &quot;945&quot;,
&quot;943&quot;
)</expression>
    </formulas>
    <interviewLabel>Generate Membership Order from Opportunity {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Generate Membership Order from Opportunity</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Membership_Kit_Line_Item</name>
        <label>Create Membership Kit Line Item</label>
        <locationX>182</locationX>
        <locationY>866</locationY>
        <connector>
            <targetReference>Evaluate_Opportunity_Amount_2</targetReference>
        </connector>
        <inputAssignments>
            <field>OrderId</field>
            <value>
                <elementReference>Create_Membership_Kit_Order</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PricebookEntryId</field>
            <value>
                <elementReference>Get_Membership_Kit_Pricebook_Entry.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product2Id</field>
            <value>
                <elementReference>Get_Membership_Kit_Product_Id.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantity</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UnitPrice</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <object>OrderItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Membership_Kit_Order</name>
        <label>Create Membership Kit Order</label>
        <locationX>182</locationX>
        <locationY>758</locationY>
        <connector>
            <targetReference>Create_Membership_Kit_Line_Item</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Opportunity.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EffectiveDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OpportunityId</field>
            <value>
                <elementReference>Opportunity.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pricebook2Id</field>
            <value>
                <elementReference>Opportunity.Pricebook2Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShipToContactId</field>
            <value>
                <elementReference>Opportunity.npsp__Primary_Contact__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingCity</field>
            <value>
                <elementReference>Opportunity.npsp__Primary_Contact__r.MailingCity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingCountry</field>
            <value>
                <elementReference>Opportunity.npsp__Primary_Contact__r.MailingCountry</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingPostalCode</field>
            <value>
                <elementReference>Opportunity.npsp__Primary_Contact__r.MailingPostalCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingState</field>
            <value>
                <elementReference>Opportunity.npsp__Primary_Contact__r.MailingState</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingStreet</field>
            <value>
                <elementReference>Opportunity.npsp__Primary_Contact__r.MailingStreet</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <elementReference>OrderStatus</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Welcome Kit</stringValue>
            </value>
        </inputAssignments>
        <object>Order</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Tee_Shirt_Line_Item</name>
        <label>Create Tee Shirt Line Item</label>
        <locationX>50</locationX>
        <locationY>1082</locationY>
        <inputAssignments>
            <field>OrderId</field>
            <value>
                <elementReference>Create_Membership_Kit_Order</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PricebookEntryId</field>
            <value>
                <elementReference>Get_Membership_Tee_Shirt_Price_Book_Entry.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product2Id</field>
            <value>
                <elementReference>Get_Membership_Tee_Shirt_Product.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantity</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UnitPrice</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <object>OrderItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Membership_Kit_Pricebook_Entry</name>
        <label>Get Membership Kit Pricebook Entry</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Evaluate_Opportunity_Amount</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Membership Kit</stringValue>
            </value>
        </filters>
        <filters>
            <field>Pricebook2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Opportunity.Pricebook2Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PricebookEntry</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Membership_Kit_Product_Id</name>
        <label>Get Membership Kit Product Id</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Membership_Kit_Pricebook_Entry</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Membership Kit</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Product2</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Membership_Tee_Shirt_Price_Book_Entry</name>
        <label>Get Membership Tee Shirt Price Book Entry</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Membership_Kit_Order</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Pricebook2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Opportunity.Pricebook2Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Product2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Membership_Tee_Shirt_Product.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PricebookEntry</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Membership_Tee_Shirt_Product</name>
        <label>Get Membership Tee Shirt Product</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Membership_Tee_Shirt_Price_Book_Entry</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Brist_Item_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>TeeShirtSize</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Product2</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Membership_Kit_Product_Id</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>Opportunity</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>WelcomeOrderLineItems</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderItem</objectType>
    </variables>
</Flow>
