force-app/main/default/flows/Membership_Kit_Uncheck_Fields.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <decisions>
        <name>Membership_End_Date_Today</name>
        <label>Membership End Date = Today</label>
        <locationX>182</locationX>
        <locationY>276</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Membership_End_Date_Today1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.npo02__MembershipEndDate__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>todays_date</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Uncheck_All_Send_and_Received_Checkboxes</targetReference>
            </connector>
            <label>Membership End Date = Today</label>
        </rules>
    </decisions>
    <description>This flow will turn all membership kit fields to FALSE if they are past their membership end date</description>
    <environments>Default</environments>
    <formulas>
        <name>todays_date</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <interviewLabel>Membership Kit Uncheck Fields {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Membership Kit Uncheck Fields</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Uncheck_All_Send_and_Received_Checkboxes</name>
        <label>Uncheck All Send and Received Checkboxes</label>
        <locationX>50</locationX>
        <locationY>396</locationY>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Received_Membership_Kit__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Received_Membership_Kit_and_T_shirt__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Received_Membership_Kit__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Received_Membership_Kit_and_T_shirt__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Send_Membership_Kit__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Send_Membership_Kit_and_T_shirt__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Membership_End_Date_Today</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Membership_Status_del__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <object>Contact</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2023-01-04</startDate>
            <startTime>00:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Obsolete</status>
</Flow>
