force-app/main/default/flows/Opportunity_Assign_Tasks.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>POW_Action_Fund_1_000_Donation_Action_1</name>
        <label>POW Action Fund $1,000+ Donation Action 1</label>
        <locationX>1238</locationX>
        <locationY>1547</locationY>
        <actionName>Opportunity.POW_Action_Fund_1_000_Donation</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Opportunity_Type</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Opportunity.POW_Action_Fund_1_000_Donation</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <decisions>
        <name>Donation_Amount</name>
        <label>Donation Amount</label>
        <locationX>2030</locationX>
        <locationY>1847</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>X1000_4999</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Amount</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>1000.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Amount</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>5000.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Create_Partner_Donation_Caroline_Task</targetReference>
            </connector>
            <label>$1000-$4999</label>
        </rules>
        <rules>
            <name>X5000_2499</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Amount</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>5000.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Amount</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>25000.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Task_for_Waverley</targetReference>
            </connector>
            <label>$5000-$2499</label>
        </rules>
        <rules>
            <name>X25000</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Amount</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>25000.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_Task_for_Waverley</targetReference>
            </connector>
            <label>$25000+</label>
        </rules>
    </decisions>
    <decisions>
        <name>Fund_Designation</name>
        <label>POW vs POW Aciton</label>
        <locationX>2162</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Payout_Date_from_Classy</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default</defaultConnectorLabel>
        <rules>
            <name>POW</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.stayclassy__Organization_ID__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>39210.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.stayclassy__sf_designation_id__r.stayclassy__sc_designation_id__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <numberValue>1842213.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Fund_POW</targetReference>
            </connector>
            <label>POW</label>
        </rules>
        <rules>
            <name>POW_AF</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.stayclassy__Organization_ID__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>85692.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Fund_POW_AF</targetReference>
            </connector>
            <label>POW AF</label>
        </rules>
        <rules>
            <name>Other_Designation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.stayclassy__sf_designation_id__r.stayclassy__sc_designation_id__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1842213.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Fund_Other</targetReference>
            </connector>
            <label>Other Designation</label>
        </rules>
    </decisions>
    <decisions>
        <name>GL_Account_Assignment</name>
        <label>GL Account Assignment</label>
        <locationX>2162</locationX>
        <locationY>1031</locationY>
        <defaultConnector>
            <targetReference>stage_won</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>GL_Account_4005_Corporate</name>
            <conditionLogic>1 AND 2 AND 3 and (4 OR 5)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Amount</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>0.1</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Restricted__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Fund_Designation__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>POW</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0124P000000hKRwQAM</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>012Rn000000NnpdIAC</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>X4005_Contributions_Corporate</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>4005 - Contributions:Corporate</label>
        </rules>
        <rules>
            <name>a4015_Contributions_Grants</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Amount</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>0.1</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Restricted__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Fund_Designation__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>POW</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0124P0000014gPNQAY</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>X4015_Contributions_Grants</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>4015 - Contributions:Grants</label>
        </rules>
        <rules>
            <name>X4016_Restricted_Grants</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Amount</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>0.1</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Restricted__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Fund_Designation__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>POW</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>X4016_Contributions_Grants_Restricted</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>4016 - Contributions:Grants:Restricted</label>
        </rules>
        <rules>
            <name>X4025_Merch</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Amount</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>0.1</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Restricted__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Fund_Designation__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>POW</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0124P000000EXMHQA4</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>X4025_Contributions_Merchandise_Revenue</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>4025 - Contributions:Merchandise Revenue</label>
        </rules>
        <rules>
            <name>a4020_Contributions_Individual_Contributions</name>
            <conditionLogic>1 AND 2 AND 3 AND (4 OR 5 OR 6 OR 7)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Amount</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>0.1</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Restricted__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Fund_Designation__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>POW</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0124P0000014gPQQAY</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>012Rn000000mtv3IAA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0124P0000014gPXQAY</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0124P000000hO5nQAE</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>X4020_Contributions_Individual_Contributions</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>4020 - Contributions:Individual Contributions</label>
        </rules>
        <rules>
            <name>X4060_In_Kind</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Amount</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>0.1</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Restricted__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Fund_Designation__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>POW</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0124P0000014gPZQAY</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>z4060_In_Kind</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>4060 - In-Kind</label>
        </rules>
    </decisions>
    <decisions>
        <name>Opportunity_Type</name>
        <label>Opportunity Type</label>
        <locationX>1370</locationX>
        <locationY>1739</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Grant</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0124P0000014gPNQAY</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Grant_Task</targetReference>
            </connector>
            <label>Grant</label>
        </rules>
        <rules>
            <name>Partner</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0124P000000hKRwQAM</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Partner_Donation_Amount</targetReference>
            </connector>
            <label>Partner</label>
        </rules>
        <rules>
            <name>IHO</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.stayclassy__dedication_type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>honor</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>IHO_Task_for_Waverly</targetReference>
            </connector>
            <label>IHO</label>
        </rules>
        <rules>
            <name>IMO</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.stayclassy__dedication_type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>memory</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>IMO_Task_for_Waverly</targetReference>
            </connector>
            <label>IMO</label>
        </rules>
        <rules>
            <name>Donation_or_Classy</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0124P0000014gPQQAY</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0124P000000hO5nQAE</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Donation_Amount</targetReference>
            </connector>
            <label>Donation or Classy</label>
        </rules>
    </decisions>
    <decisions>
        <name>Partner_Donation_Amount</name>
        <label>Partner Donation Amount</label>
        <locationX>578</locationX>
        <locationY>1847</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Partner_Donation_5000</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Amount</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>5000.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Partner_Donation_Usha_Task</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Partner Donation &lt;$5000</label>
        </rules>
        <rules>
            <name>Partner_Donation_gtr_5000</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Amount</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>5000.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Partner_Donation_Justin_Task</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Partner Donation &gt; $5000</label>
        </rules>
    </decisions>
    <decisions>
        <name>Payout_Date_from_Classy</name>
        <label>Payout Date from Classy</label>
        <locationX>2162</locationX>
        <locationY>731</locationY>
        <defaultConnector>
            <targetReference>GL_Account_Assignment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Payout_Deposit_Date</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.stayclassy__Payout_Deposit_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Records_5</targetReference>
            </connector>
            <label>Payout Deposit Date</label>
        </rules>
    </decisions>
    <decisions>
        <name>stage_won</name>
        <label>Stage = Closed Won</label>
        <locationX>2162</locationX>
        <locationY>1331</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Stage_Closed_Won</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed Won</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>X1000_POW_AF</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Stage = Closed Won</label>
        </rules>
    </decisions>
    <decisions>
        <name>X1000_POW_AF</name>
        <label>$1000+ POW AF</label>
        <locationX>1370</locationX>
        <locationY>1439</locationY>
        <defaultConnector>
            <targetReference>Opportunity_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>X1000_and_POW_AF</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Fund_Designation__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>POW Action Fund</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Amount</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>1000.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>POW_Action_Fund_1_000_Donation_Action_1</targetReference>
            </connector>
            <label>$1000+ and POW AF</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>date_from_payout</name>
        <dataType>Date</dataType>
        <expression>DATEVALUE({!$Record.stayclassy__Payout_Deposit_Date__c})</expression>
    </formulas>
    <formulas>
        <name>dueDate</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate}+7</expression>
    </formulas>
    <interviewLabel>Opportunity - Assign Tasks {!$Flow.CurrentDateTime}</interviewLabel>
    <label>POW Opportunity Flow - 2.21.2026</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Copy_1_of_Create_Partner_Donation_Caroline_Task</name>
        <label>Task for Waverley</label>
        <locationX>1634</locationX>
        <locationY>1955</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>dueDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>This contact has donated between $1000-$4999, please follow up.</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>0054P00000DI6iaQAD</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Donor follow up</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>$Record.npsp__Primary_Contact__c</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Copy_1_of_Task_for_Waverley</name>
        <label>Task for Caroline</label>
        <locationX>1898</locationX>
        <locationY>1955</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>dueDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>This contact has donated between $5000-$25000, please follow up.</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>0054P00000EeB5YQAV</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Donor follow up</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>$Record.npsp__Primary_Contact__c</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Copy_2_of_Task_for_Waverley</name>
        <label>Task for Heather</label>
        <locationX>2162</locationX>
        <locationY>1955</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>dueDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>This contact has donated above $25,000, please follow up.</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>005Rn000006g7mPIAQ</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Donor follow up</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>$Record.npsp__Primary_Contact__c</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Partner_Donation_Justin_Task</name>
        <label>Create Partner Donation Mel Task</label>
        <locationX>578</locationX>
        <locationY>1955</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>dueDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>This partner has donated, please follow up.</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>0054P00000EftnMQAR</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Partner Donation Follow Up</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>$Record.npsp__Primary_Contact__c</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Partner_Donation_Usha_Task</name>
        <label>Create Partner Donation Mel Task</label>
        <locationX>314</locationX>
        <locationY>1955</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>dueDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>This partner has donated, please follow up.</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>0054P00000EftnMQAR</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Partner Donation Follow Up</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>$Record.npsp__Primary_Contact__c</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Grant_Task</name>
        <label>Grant Task</label>
        <locationX>50</locationX>
        <locationY>1847</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>dueDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>This foundation has gifted a grant, please follow up.</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>0054P00000EeB5YQAV</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Foundation Grant Follow Up</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>$Record.Account.npe01__One2OneContact__c</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>IHO_Task_for_Waverly</name>
        <label>IHO Task for Waverly</label>
        <locationX>1106</locationX>
        <locationY>1847</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>dueDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>This contact has made an in honor of donation. Please follow up</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>0054P00000DI6iaQAD</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>In Honor Of Donation</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>$Record.npsp__Primary_Contact__c</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>IMO_Task_for_Waverly</name>
        <label>IMO Task for Waverly</label>
        <locationX>1370</locationX>
        <locationY>1847</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>dueDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>This contact has donated in memory of. Please follow up</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>0054P00000DI6iaQAD</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>In Memory of Donation</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>$Record.npsp__Primary_Contact__c</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordUpdates>
        <name>Fund_Other</name>
        <label>Fund = Other</label>
        <locationX>2294</locationX>
        <locationY>431</locationY>
        <inputAssignments>
            <field>Fund_Designation__c</field>
            <value>
                <stringValue>Other</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Fund_POW</name>
        <label>Fund = POW</label>
        <locationX>1766</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Payout_Date_from_Classy</targetReference>
        </connector>
        <inputAssignments>
            <field>Fund_Designation__c</field>
            <value>
                <stringValue>POW</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Fund_POW_AF</name>
        <label>Fund = POW AF</label>
        <locationX>2030</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Update_Contact_to_POW_AF_Yes</targetReference>
        </connector>
        <inputAssignments>
            <field>Fund_Designation__c</field>
            <value>
                <stringValue>POW Action Fund</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>This will update the POW Action Fund field on the contact to Yes</description>
        <name>Update_Contact_to_POW_AF_Yes</name>
        <label>Update Contact to POW Action Fund = Yes</label>
        <locationX>2030</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>Payout_Date_from_Classy</targetReference>
        </connector>
        <inputAssignments>
            <field>POW_Action_Fund__c</field>
            <value>
                <stringValue>Yes</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record.bt_stripe__Related_Contact__r</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Records_5</name>
        <label>Payout Date Update</label>
        <locationX>2030</locationX>
        <locationY>839</locationY>
        <connector>
            <targetReference>GL_Account_Assignment</targetReference>
        </connector>
        <inputAssignments>
            <field>npe01__Payment_Date__c</field>
            <value>
                <elementReference>date_from_payout</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record.npe01__OppPayment__r</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>X4005_Contributions_Corporate</name>
        <label>4005 - Contributions:Corporate</label>
        <locationX>1370</locationX>
        <locationY>1139</locationY>
        <connector>
            <targetReference>stage_won</targetReference>
        </connector>
        <inputAssignments>
            <field>Credit_Lookup__c</field>
            <value>
                <stringValue>a31Rn000000Hss1IAC</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record.npe01__OppPayment__r</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>X4015_Contributions_Grants</name>
        <label>4015 - Contributions:Grants</label>
        <locationX>1634</locationX>
        <locationY>1139</locationY>
        <connector>
            <targetReference>stage_won</targetReference>
        </connector>
        <inputAssignments>
            <field>Credit_Lookup__c</field>
            <value>
                <stringValue>a31Rn000000HsqPIAS</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record.npe01__OppPayment__r</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>X4016_Contributions_Grants_Restricted</name>
        <label>4016 - Contributions:Grants:Restricted</label>
        <locationX>1898</locationX>
        <locationY>1139</locationY>
        <connector>
            <targetReference>stage_won</targetReference>
        </connector>
        <inputAssignments>
            <field>Credit_Lookup__c</field>
            <value>
                <stringValue>a31Rn000000HsonIAC</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record.npe01__OppPayment__r</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>X4020_Contributions_Individual_Contributions</name>
        <label>4020 - Contributions:Individual Contributions</label>
        <locationX>2426</locationX>
        <locationY>1139</locationY>
        <connector>
            <targetReference>stage_won</targetReference>
        </connector>
        <inputAssignments>
            <field>Credit_Lookup__c</field>
            <value>
                <stringValue>a31Rn000000HslZIAS</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record.npe01__OppPayment__r</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>X4025_Contributions_Merchandise_Revenue</name>
        <label>4025 - Contributions:Merchandise Revenue</label>
        <locationX>2162</locationX>
        <locationY>1139</locationY>
        <connector>
            <targetReference>stage_won</targetReference>
        </connector>
        <inputAssignments>
            <field>Credit_Lookup__c</field>
            <value>
                <stringValue>a31Rn000000HsjxIAC</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record.npe01__OppPayment__r</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>z4060_In_Kind</name>
        <label>4060 - In-Kind</label>
        <locationX>2690</locationX>
        <locationY>1139</locationY>
        <connector>
            <targetReference>stage_won</targetReference>
        </connector>
        <inputAssignments>
            <field>Credit_Lookup__c</field>
            <value>
                <stringValue>a31Rn000000HsnBIAS</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record.npe01__OppPayment__r</inputReference>
    </recordUpdates>
    <start>
        <locationX>2036</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Fund_Designation</targetReference>
        </connector>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
