force-app/main/default/flows/POW_Membership.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <constants>
        <name>MembershipEndDateConstant</name>
        <dataType>Date</dataType>
        <value>
            <dateValue>2022-12-31</dateValue>
        </value>
    </constants>
    <decisions>
        <name>Copy_to_Mailing_Address</name>
        <label>Copy to Mailing Address</label>
        <locationX>771</locationX>
        <locationY>545</locationY>
        <defaultConnector>
            <targetReference>Decision_Based_on_Amount</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Other_Address_has_Info</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.npsp__Primary_Contact__r.OtherStreet</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_Other_Address_to_Mailing_Address</targetReference>
            </connector>
            <label>Other Address has Info</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_Based_on_Amount</name>
        <label>Decision Based on Amount</label>
        <locationX>771</locationX>
        <locationY>772</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Discounted_Membership</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Campaign.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>7014P000000vxIUQAY</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Amount</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>35.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Find_Opportunity_Contact_Update_Send_Membership_Kit_and_T_shirt</targetReference>
            </connector>
            <label>Discounted Membership</label>
        </rules>
        <rules>
            <name>Amount_20_and_49</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Amount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Amount</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>49.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Find_Opportunity_Contact_Update_Send_Membership_Kit</targetReference>
            </connector>
            <label>Amount &gt;=1 and &lt;=49</label>
        </rules>
        <rules>
            <name>Amount_50</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Amount</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>50.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Find_Opportunity_Contact_Update_Send_Membership_Kit_and_T_shirt</targetReference>
            </connector>
            <label>Amount &gt;=50</label>
        </rules>
    </decisions>
    <description>Consolidate DML Updates from 3 to 1 on Opportunity and fix address difference detection</description>
    <environments>Default</environments>
    <formulas>
        <description>Adds 365 days to the close date</description>
        <name>close_plus_365</name>
        <dataType>Date</dataType>
        <expression>{!$Record.CloseDate} + 365</expression>
    </formulas>
    <interviewLabel>POW Membership {!$Flow.CurrentDateTime}</interviewLabel>
    <label>POW Membership</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Copy_Other_Address_to_Mailing_Address</name>
        <label>Copy Other Address to Mailing Address</label>
        <locationX>1160</locationX>
        <locationY>628</locationY>
        <connector>
            <targetReference>Decision_Based_on_Amount</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.npsp__Primary_Contact__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>MailingCity</field>
            <value>
                <elementReference>$Record.npsp__Primary_Contact__r.OtherCity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MailingCountry</field>
            <value>
                <elementReference>$Record.npsp__Primary_Contact__r.OtherCountry</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MailingPostalCode</field>
            <value>
                <elementReference>$Record.npsp__Primary_Contact__r.OtherPostalCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MailingState</field>
            <value>
                <elementReference>$Record.npsp__Primary_Contact__r.OtherState</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MailingStreet</field>
            <value>
                <elementReference>$Record.npsp__Primary_Contact__r.OtherStreet</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>Find_Opportunity_Contact_Update_Send_Membership_Kit</name>
        <label>Find Opportunity Contact - Update &quot;Send Membership Kit&quot;</label>
        <locationX>608</locationX>
        <locationY>909</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.npsp__Primary_Contact__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Member_Journey__c</field>
            <value>
                <stringValue>Donation</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Send_Membership_Kit__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Team_POW_Email_Communications__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>Find_Opportunity_Contact_Update_Send_Membership_Kit_and_T_shirt</name>
        <label>Find Opportunity Contact - Update &quot;Send Membership Kit and T-shirt</label>
        <locationX>1153</locationX>
        <locationY>936</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.npsp__Primary_Contact__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Member_Journey__c</field>
            <value>
                <stringValue>Donation</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Send_Membership_Kit_and_T_shirt__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Team_POW_Email_Communications__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>Record_Type_Membership</name>
        <label>Record Type = Membership</label>
        <locationX>775</locationX>
        <locationY>388</locationY>
        <connector>
            <targetReference>Copy_to_Mailing_Address</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>{!$Record.Account.Name} ${!$Record.Amount} Membership {!$Record.CloseDate}</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>0124P0000014gPTQAY</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>npe01__Membership_End_Date__c</field>
            <value>
                <elementReference>close_plus_365</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>npe01__Membership_Start_Date__c</field>
            <value>
                <elementReference>$Record.CloseDate</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>640</locationX>
        <locationY>49</locationY>
        <connector>
            <targetReference>Record_Type_Membership</targetReference>
        </connector>
        <filterLogic>(1 AND 3) OR 2</filterLogic>
        <filters>
            <field>stayclassy__Classy_Designation_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <numberValue>177546.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0124P0000014gPTQAY</stringValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Closed Won</stringValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
</Flow>
